  .col { 
    border-radius: 25px;
    border: 3px solid black;
    background-color: rgb(54, 54, 54);
    margin: 20px;
    padding: 20px; 
}
body {
   background-color: rgb(194, 238, 189);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .fir {
      padding: 10px 15px;
    border-radius: 25px;
    border: 3px;
     background-color: rgb(255, 255, 255);
        }
    #fff {
      color: rgb(167, 255, 157); 
    }
    .sec {
      float: left;
      border-radius: 25px;
     border: 2px;
     float: left;
      overflow: auto;
        background-color: rgb(255, 255, 255);
      color: rgb(167, 255, 157);
    margin: 0; }

      .mar {
      margin: 30px;
    }

    a {
      color: rgb(104, 190, 94);
    }
    
    a:hover {
       color: rgb(31, 116, 24);
    }

    #a, #b{
    padding: 10px 15px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 217, 108);
    margin-bottom: 10px;
    left: auto;
   display: inline-block;
}

.aaa {
  border-radius: 25px;
    border: 2px solid black;
     background-color: rgb(255, 255, 255);
      color: rgb(133, 223, 123);
      width: 650px;
      text-align: center;
      position: relative;
      right: -400px;
}