
.fir {
    padding: 10px 15px;
    border-radius: 25px;
    border: 3px solid black;
     background-color: rgb(255, 255, 255);
        }

#ff {
   color: rgb(167, 255, 157);
}
.sec {
  border-radius: 25px;
     border: 2px solid black;
     float: left;
      overflow: auto;
      background-color: rgb(255, 255, 255);
       color: rgb(121, 207, 111);
    }
#p1 {
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid black;
    float: left;
    width: 310px;
    height: 200px;
    overflow: auto;
   clear: both;
   margin-top: -220px;
     background-color: rgb(255, 255, 255);
      color: rgb(106, 181, 98);
    }
  #p2 {
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid black;
    width: 602px;
    overflow: auto;
    clear: both;
    bottom: 800px;
      background-color: rgb(255, 255, 255);
       color: rgb(93, 174, 84);
    }
#int {
padding: 10px 15px;
border-radius: 25px;
border: 2px solid black;
overflow: auto; 
position: relative;
float: right;
right: 5px;
width: 709px;
bottom: 200;
margin-top: -526px;
  background-color: rgb(255, 255, 255);
   color: rgb(124, 205, 115);
}
#img {
position: relative;
float: left;
top: 0px;
left: 114px;
 border-radius: 25px;
   border: 2px solid rgb(255, 255, 255);
}
.aaa {
  border-radius: 25px;
    border: 2px solid black;
    position: relative;
float: right;
right: 145px;
   margin-top: -299px;
   text-align: center;
     background-color: rgb(255, 255, 255);
      color: rgb(133, 223, 123);
}
 
body {
   background-color: rgb(194, 238, 189); 
}

.col { 
  border-radius: 25px;
  border: 3px solid black;
  background-color: rgb(54, 54, 54);
  margin: 20px;
}

.mar {
      margin: 30px;
    }

    a {
      color: rgb(104, 190, 94);
    }
    
    a:hover {
       color: rgb(31, 116, 24);
    }




